@model IEnumerable<FasePractica.Data.Models.Carrera>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de carreras</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row row-cols-3">
        @foreach (var item in Model)
        {
            <div class="col">
                <div class="card" style="width: 18rem; margin-top: 10px;">
                    <img src="data:image/png;base64,@item.Logo" class="card-img-top" alt="Logo de @item.Nombre" />
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Nombre)</p>
                    </div>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.CarreraId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CarreraId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CarreraId">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
