@model IEnumerable<FasePractica.Data.Models.Empresa>

@{
    ViewData["Title"] = "Index";
}

<h4>Lista de empresas</h4>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ruc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TutorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstudiantesConvenio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstudiantesActuales)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ruc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor.DataValueField)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstudiantesConvenio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstudiantesActuales)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EmpresaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.EmpresaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.EmpresaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<tfoot>
        <nav aria-label="...">
            <ul class="pagination">
                @* <li class="page-item disabled">
                <span class="page-link">Anterior</span>
                </li> *@
                @for (var i = 0; i < (int)ViewData["TotalPaginas"]; i++)
                {
                    if(i+1 == (int)ViewData["PaginaActual"])
                    {
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" asp-action="Index" asp-route-pagina="@(i+1)">@(i+1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pagina="@(i+1)">@(i+1)</a>
                        </li>
                    }
                }
                @* <a class="page-link" href="#">Siguiente</a>
                </li> *@
            </ul>
        </nav>
    </tfoot>
