@model IEnumerable<FasePractica.Data.Models.Nota>

@{
    ViewData["Title"] = "Index";
}

<h1>LISTA DE NOTAS</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estudiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proyecto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aprueba)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estudiante.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proyecto.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aprueba)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NotaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NotaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NotaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<tfoot>
        <nav aria-label="...">
            <ul class="pagination">
                @* <li class="page-item disabled">
                <span class="page-link">Anterior</span>
                </li> *@
                @for (var i = 0; i < (int)ViewData["TotalPaginas"]; i++)
                {
                    if(i+1 == (int)ViewData["PaginaActual"])
                    {
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" asp-action="Index" asp-route-pagina="@(i+1)">@(i+1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pagina="@(i+1)">@(i+1)</a>
                        </li>
                    }
                }
                @* <a class="page-link" href="#">Siguiente</a>
                </li> *@
            </ul>
        </nav>
    </tfoot>