@model IEnumerable<FasePractica.Data.Models.Tutor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorreoInstitucional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorreoInstitucional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PersonaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PersonaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PersonaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<tfoot>
        <nav aria-label="...">
            <ul class="pagination">
                @* <li class="page-item disabled">
                <span class="page-link">Anterior</span>
                </li> *@
                @for (var i = 0; i < (int)ViewData["TotalPaginas"]; i++)
                {
                    if(i+1 == (int)ViewData["PaginaActual"])
                    {
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" asp-action="Index" asp-route-pagina="@(i+1)">i+1</a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Index" asp-route-pagina="@(i+1)">i+1</a>
                        </li>
                    }
                }
                @* <a class="page-link" href="#">Siguiente</a>
                </li> *@
            </ul>
        </nav>
    </tfoot>