@model FasePractica.WebApp.Models.Convenio

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Convenio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConvenioId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConvenioId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empresa.Alias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InformeViabilidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InformeViabilidad.AlmacenadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memorando)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memorando.AlmacenadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Acta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Acta.AlmacenadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstudiantesConvenio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstudiantesConvenio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstudiantesActuales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstudiantesActuales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirmadoEl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirmadoEl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlmacenadoEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlmacenadoEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DocumentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
