@model IEnumerable<FasePractica.WebApp.Models.Convenio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConvenioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InformeViabilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Memorando)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstudiantesConvenio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstudiantesActuales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirmadoEl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlmacenadoEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConvenioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFinal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresa.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InformeViabilidad.AlmacenadoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Memorando.AlmacenadoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acta.AlmacenadoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstudiantesConvenio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstudiantesActuales)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirmadoEl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AlmacenadoEn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DocumentoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DocumentoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DocumentoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
